// VENDOR
// @import 'sfco-sass-utils';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	width: 40rem;
	background: #FAFAFA;
	color: #2c3e50;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;

	& *::placeholder {
		color: #2c3e50;
		opacity: 0.4;
	}
}

header {
	padding: 1.5rem;
	box-shadow: 0 0 1rem 0.3rem rgba( 0, 0, 0, 0.075 );
}

main {
	max-width: 100%;
}

form {
	margin: 0;
	padding: 0;
}

input {
	width: 100%;
}

label {
	display: block;
}

h1,
h2,
h3
h4,
h5,
h6,
p {
	margin: 0;
	font-weight: 500;
}

p {
	color: #555;
	font-family: 'Bitter', serif;
}

a {
	color: inherit;
	text-decoration: none;
	// outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.title {
	font-size: 2rem;
	font-weight: 700;
}

.form-body {
	max-height: 35rem;
	overflow: auto;
}

.form-footer {
	padding: 2rem 0;
	position: relative;
	box-shadow: 0 0 1rem 0.3rem rgba( 0, 0, 0, 0.075 );
}

.form-list {

}

.form-list__item {
	width: 100%;
	height: auto;

	// Positional styles
	&:nth-child( even ) {
		background: rgba( 0,0,0,0.03 );
	}
}

.query-feature-wrap,
.query-opts-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.query-feature-wrap {
	font-size: 1.4rem;
	padding: 1rem 1.5rem;
	cursor: pointer;
	transition: color 0.2s;

	// State
	&:hover,
	&:focus {
		 /// TODO
	}

	h2 {
		font-size: 1em;
		font-weight: 700;
	}

	// TODO[@jrmykolyn] - Apply class to all instances of <button>; target elem. by class.
	button {
		width: 2rem;
		height: 2rem;
		display: block;
		background: transparent;
		border: 0.2rem solid #2c3e50;
		position: relative;
		pointer-events: none;

		&:before,
		&::before,
		&:after,
		&::after {
			transition: all 0.125s;
		}

		&:before,
		&::before {
			content: '';
			width: 1rem;
			height: 0.2rem;
			display: block;
			background: #2c3e50;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
		}

		&:after,
		&::after  {
			content: '';
			width: 0.2rem;
			height: 1rem;
			display: block;
			background: #2c3e50;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );

			.is-active & {
				transform: translate( -50%, -50% ) rotate( 90deg );
			}
		}
	}
}

.query-feature-options {
	max-height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;

	.is-active & {
		max-height: initial;
		padding: 0 1.5rem 2rem;
	}
}

.query-feature-desc {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

.query-opts-wrap {
	&:not( :last-child ) {
		margin-bottom: 2.5rem;
	}
}

.query-opts-wrap__opt {
	flex: 1 1 auto;

	&:not( :last-child ) {
		margin-right: 2rem;
	}

	label {
		font-weight: 700;
		font-size: 1.2rem;

		&:first-child {
			// display: none;
		}
	}
}

input[type="text"],
input[type="number"] {
	background: transparent;
	border: none;
	border-bottom: 0.1rem solid #222;
	padding: 0.5em 0;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;

	& + label {
		.cta-elem--radio,
		.cta-elem--text {
			display: inline-block;
			vertical-align: top;
		}

		.cta-elem--radio {
			width: 1.8rem;
			height: 1.8rem;
			background: transparent;
			background: #DDD;
			border-radius: 50%;
			margin-right: 0.5rem;
			position: relative;
		}

		.cta-text {
			line-height: 1.5rem;
		}
	}

	&:checked + label {
		.cta-elem--radio {
			&:after {
				content: '';
				width: 50%;
				height: 50%;
				display: block;
				background: #222;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50% );
			}
		}
	}
}

input[type="checkbox"] {
	& + label {
		.cta-elem--radio {
			border-radius: 0;
		}
	}

	&:checked + label {
		.cta-elem--radio {
			&:before,
			&:after {
				content: '';
				width: 80%;
				height: 0.2rem;
				display: block;
				background: #222;
				position: absolute;
				top: 50%;
				left: 50%;
			}

			&:before {
				transform: translate( -50%, -50% ) rotate( 45deg );
			}

			&:after {
				transform: translate( -50%, -50% ) rotate( 135deg );
			}
		}
	}
}

input[type="submit"] {
	width: 100%;
	max-width: 25rem;
	min-width: 15rem;
	display: block;
	color: #FFF;
	background: #2c3e50;
	margin: 0 auto;
	padding: 0 2rem;
	border: none;
	border-radius: 0;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
	line-height: 4rem;
	text-align: center;

	&:hover,
	&:focus {
		background: darken( #2c3e50, 10% );
		// background: red;
	}
}
